{% extends 'base.html.twig' %}

{% block title %} Reservation {{ event.restaurant.name }} {% endblock %}

    {% block header %}
        <img src="{{ asset("images/header7.jpg") }}" width="100%" alt="Image header Copains de Resto">
    {% endblock %}

    {% block body %}
        <p>page reservation</p>
    {% endblock %}
