{% extends 'base.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block header %}
    <img src="{{ asset("images/header7.jpg") }}" width="100%" alt="Image header Copains de Resto"
         title="Image header Copains de Resto">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="card-header text-center">
            <h1>Foire aux questions</h1>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Qu’est ce que « Copains de resto » ?</h2><br>
                <p style="text-align: justify">« Copains de resto » c'est un nouveau concept de réservation de restaurants où les restaurateurs et
                    bars à vin partenaires de Copains de resto proposent une table afin que des clients qui ne se
                    connaissent pas puissent réserver un restaurant, et partager un moment de découvertes culinaires et
                    sociales en rencontrant de nouvelles personnes !<br>
                    <br>Le concept est actuellement en phase de test et de développement sur le secteur de Bordeaux
                    Métropole.<br>
                    <br>Le Site www.copainsderesto.com. est un service de réservation en ligne de restaurant édité à
                    titre
                    non professionnel au sens de l'article 6, III, 2° de la loi 2004-575 du 21 juin 2004. Conformément
                    aux dispositions de cet article, son éditeur a choisi de rester anonyme.<br>
                    <br>Nous nous tenons à votre disposition par courriel à l’adresse suivante
                    contact@copainsderesto.com
                    ou via la page facebook «Copains de resto ».
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
        <div class="col-8">
            <h2>Pourquoi devoir donner autant d’informations sur mon profil ? A quoi correspond le « profil Copains de resto » ?</h2><br>
            <p style="text-align: justify">Le « profil Copains de resto » permet de donner quelques informations aux autres Copains de resto sur
                votre prénom, âge, loisirs. Tous les Copains de resto sont dans l’optique de passer un bon moment de
                découvertes culinaires et sociales et certains d’entre eux peuvent être rassurés par le fait d’avoir
                accès à ces quelques informations sur les participants. </p>
        </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>À propos des restaurants </h2><br>
                <p style="text-align: justify">Copains de resto cherche avant tout à proposer des restaurants conviviaux, de tout type de cuisine,
                    et budgets.<br>
                    <br>Vous pouvez faire votre recherche en sélectionnant dans la barre de recherche le nom du restaurant,
                    le type de cuisine, la localisation….
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Comment savoir si l’évènement est confirmé ?</h2><br>
                <p style="text-align: justify"><br>L’évènement est confirmé lorsque le nombre minimum de participants, à savoir 2 personnes a été
                    atteint.  Lors de votre réservation, le mail de confirmation vous confirme le statut de l’évènement
                    à savoir si l’évènement est « confirmé » ou « en attente de confirmation ».<br>
                    <br>S’il est « en attente de confirmation », vous serez notifiés par email dès qu’il sera confirmé.
                    <br>
                    <br>Si le nombre de participants redevient inférieur à 2 personnes, vous serez notifiés par email que
                    l’évènement est « en attente de confirmation ». L’évènement sera automatiquement annulé si le nombre
                    est inférieur à 2 personnes, vous ne recevrez pas un mail supplémentaire.<br>
                    <br>Le statut de des évènements est également indiqué dans l’onglet « mes évènements » dans votre espace
                    personnel sur le site Copains de resto.
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Comment annuler ma réservation ? </h2><br>
                <p style="text-align: justify"><br>Je peux annuler ma réservation si je ne peux plus venir à un évènement via le mail de
                    confirmation reçu en cliquant sur « annuler ma commande » ou directement via mon espace personnel
                    sur le site « Copains de resto » dans gérer mes évènements et en cliquant sur l’évènement en
                    question.<br>
                    <br>Je m’engage à prévenir le restaurateur en cas de problème de dernière minute si je ne peux pas venir
                    ou si je suis en retard afin de prévenir les autres participants.
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Règlement de l’addition auprès des restaurateurs</h2><br>
                <p style="text-align: justify"><br>Le jour J comme chaque Copain de resto a son propre budget resto, je m’engage à régler mon
                    addition directement au restaurateur selon ce que j’ai consommé (notamment en boissons vins/plats…).
                    En ce qui concerne les bars à vins, des formules dégustations pourront être proposées et indiquées
                    dans le descriptif de l'évènement.<br>
                    <br>Je peux résilier mon compte à tout moment via mon espace personnel.

                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Qui puis-je contacter s’il y a un problème ?</h2><br>
                <p style="text-align: justify"><br>Nous sommes à votre disposition pour tout problème via la page facebook « Copains de resto » ou
                    via l’adresse mail : contact@copainsderesto.com.
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Comment Copains de resto protège mes données personnelles ?</h2><br>
                <p class="mb-5 pb-md-5" style="text-align: justify"><br>Notre site est sécurisé par SSL, et vos données personnelles seront maintenues privées et
                    protégées. Notre site est sécurisé par un certificat de serveur Web. Nous gardons vos données.
                </p>
            </div>
        </div>

    </section>
{% endblock %}
