{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Copains de Resto{% endblock %}

{% block header %}
    <img src="{{ asset("images/header7.jpg") }}" width="100%" alt="Image header Copains de Resto"
         title="Image header Copains de Resto">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="card-header text-center">
            <h1>MENTIONS LÉGALES ET CONDITIONS GÉNÉRALES D’UTILISATION DU SITE COPAINS DE RESTO</h1>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Définitions</h2>
                <br>
                <ul>
                    <li><strong>Charte Graphique :</strong> désigne les créations relatives à la structure générale
                        du Site.
                    </li>
                    <li><strong>Contenus :</strong> désigne les marques, les logos, le nom de domaine, les graphismes,
                        les
                        photographies, les textes et les éléments, qu’ils soient visuels et/ou sonores.
                    </li>
                    <li><strong>Utilisateur :</strong> L'Utilisateur est toute personne qui utilise le Site pour
                        effectuer une
                        réservation de restaurant.
                    </li>
                    <li><strong>Contenu Utilisateur :</strong> Le terme « Contenu Utilisateur » désigne les données
                        transmises par
                        l'Utilisateur dans les différentes rubriques du Site.
                    </li>
                    <li><strong>Identifiant :</strong> Le terme « Identifiant » recouvre les informations nécessaires à
                        l'identification
                        d'un utilisateur sur le site pour accéder aux zones réservées aux Inscrits.
                    </li>
                    <li><strong>Inscrits :</strong> Le terme « Inscrits » désigne les Utilisateurs qui ont créé un
                        compte pour devenir
                        membre de Copains de resto.
                    </li>
                    <li><strong>Mot de passe :</strong> Le « Mot de passe » est une information confidentielle, dont
                        l'Utilisateur doit
                        garder le secret, lui permettant, utilisé conjointement avec son Identifiant, de prouver
                        l'identité.
                    </li>
                    <li><strong>Site :</strong> désigne le site internet accessible à l'adresse URL:
                        www.copainsderesto.com, édité à
                        titre non professionnel.
                    </li>
                    <li><strong>Service :</strong> désigne l'ensemble des services fournis sur le site aux Utilisateurs
                        de Copains
                        de resto ;
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h2>Mentions légales du Site édité à titre non professionnel et de manière anonyme</h2>
                <br>
                <h4>Editeur</h4>
                    <p style="text-align: justify">
                        Le Site www.copainsderesto.com. est un service de réservation en ligne de restaurant édité à
                        titre non professionnel au sens de l'article 6, III, 2° de la loi 2004-575 du 21 juin 2004.
                        Conformément aux dispositions de cet article, son éditeur a choisi de rester anonyme.<br>
                        <strong>Email contact :</strong> contact@copainsderesto.com
                    </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h4>Hébergeur</h4>
                <p>Le site www.copainsderesto.com est hébergé par la société : OVH</p>
                <br>
                <p>(nom, raison sociale ou dénomination sociale) , dont le siège social est ____ .</p>
                    <br>
                <p>Tél : ____</p>
                    <br>
                <p>Fax: ____</p>
                    <br>
                <p>Courriel : ____.</p>
                <br>
                <p style="text-align: justify">Les présentes mentions légales et conditions générales d’utilisation ont pour objet de définir
                    les modalités de mise à disposition des services du Site copainsderesto.com ci-après nommé
                    « le Service » et les conditions d'utilisation du Service par l'Utilisateur.</p>


                <p style="text-align: justify">Tout accès et/ou Utilisation du site www.copainsderesto.com suppose l'acceptation et le respect
                    de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle.</p>


                <p style="text-align: justify">Dans le cas où l'Utilisateur ne souhaite pas accepter tout ou partie des présentes conditions
                    générales, il lui est demandé de renoncer à tout usage du Service.</p>


                    <p style="text-align: justify">Les présentes conditions générales pourront être modifiées ou complétées, le cas échéant, par
                        des conditions d’utilisation propres aux restaurateurs partenaires.</p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h4>Objet du Site</h4>
                <p style="text-align: justify">
                    Copainsderesto.com est un site mettant en relation des Utilisateurs souhaitant aller au
                    restaurant en faisant des rencontres sociales et des restaurateurs partenaires de Copains
                    de resto.<br>
                    <br>Il propose aux Utilisateurs des créneaux de réservation de restaurants « les évènements »
                    qui sont proposés par les restaurateurs partenaires. Ces évènements sont annoncés par Copains
                    de resto sur le Site. Les Utilisateurs réservent gratuitement des restaurants et règlent
                    l’addition directement au restaurateur le jour J.

                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h4>Accès au service</h4>
                <p style="text-align: justify">
                    Le Service est accessible gratuitement à tout Utilisateur disposant d'un accès à internet.
                    Tous les coûts afférents à l'accès au Service, que ce soient les frais matériels, logiciels ou
                    d'accès à internet sont exclusivement à la charge de l'Utilisateur. Il est seul responsable du
                    bon fonctionnement de son équipement informatique ainsi que de son accès à internet.
                    <br>
                    <br>
                    En accédant et en utilisant le Site vous acceptez de respecter sans réserve les conditions
                    générales d'utilisation et de navigation ci-après définies.
                    <br>
                    <br>
                    Certaines sections du site sont réservées aux Inscrits après identification à l'aide de leur
                    Identifiant et de leur Mot de passe.
                    <br>
                    <br>
                    Nous nous réservons le droit de refuser l'accès au Service, unilatéralement et sans notification
                    préalable, à tout Utilisateur ne respectant pas les présentes conditions d'utilisation.
                    <br>
                    <br>
                    Nous mettons en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de
                    qualité au Service, mais n'est tenu à aucune obligation d'y parvenir.
                    <br>
                    <br>
                    Nous ne pouvons, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des
                    serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou
                    dégraderait l'accès au Service.
                    <br>
                    <br>
                    Nous nous réservons la possibilité d'interrompre, de suspendre momentanément ou de modifier
                    sans préavis l'accès à tout ou partie du Service, afin d'en assurer la maintenance, ou pour
                    toute autre raison, sans que l'interruption n'ouvre droit à aucune obligation ni indemnisation.
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h4>Propriété intellectuelle</h4>
                <p style="text-align: justify">
                    Copains de resto est une marque déposée.
                    <br>
                    <br>
                    Il est précisé que les contenus du Site sont protégés par la législation relative à la propriété
                    intellectuelle actuellement en vigueur en France, et ce pour le monde entier.
                    <br>
                    <br>
                    A ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule
                    l'utilisation de la Charte graphique et des Contenus pour un usage privé est autorisée.
                    <br>
                    <br>
                    En conséquence, l’Inscrit ne peut représenter, reproduire, modifier, ni de manière plus générale,
                    exploiter cette Charte Graphique et/ou Contenus sans autorisation expresse et préalable de COPAINS
                    DE RESTO.
                    <br>
                    <br>
                    Toute exploitation non autorisée de la Charte Graphique du Site et/ou de ses Contenus est
                    constitutive d’actes de contrefaçon de droit d’auteur et/ou droit des signes distinctifs et engage
                    la responsabilité pénale et civile de l’Inscrit sur le fondement de la contrefaçon de droits
                    d’auteur et/ou droit des signes distinctifs.
                    <br>
                    <br>
                    Toute mise en place de liens hypertextes à destination du site doit faire l'objet d'un accord
                    préalable et écrit de Copainsderesto.com.
                    <br>
                    <br>
                    L'Utilisateur est seul responsable du Contenu Utilisateur qu'il met en ligne via le Service,
                    ainsi que des avis qu’il formule. Il s'engage notamment à ce que ces données ne soient pas de
                    nature à porter atteinte aux intérêts légitimes de tiers quels qu'ils soient. A ce titre, il
                    garantit COPAINS DE RESTO contre tous recours, fondés directement ou indirectement sur ces propos
                    et/ou données, susceptibles d'être intentés par quiconque à l'encontre de copainsderesto.com.
                    Il s'engage en particulier à prendre en charge le paiement des sommes, quelles qu'elles soient,
                    résultant du recours d'un tiers à l'encontre de Copainsderesto.com, y compris les honoraires
                    d'avocat et frais de justice.
                    <br>
                    <br>
                    Nous nous réservons le droit de supprimer tout ou partie du Contenu Utilisateur, à tout moment et
                    pour quelque raison que ce soit, sans avertissement ou justification préalable. L'Utilisateur ne
                    pourra faire valoir aucune réclamation à ce titre.
                </p>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-8">
                    <h4>Politique de confidentialité</h4>
                    <p style="text-align: justify">
                        Vous êtes seul responsable des données que vous communiquez sur le site copainsderesto.com.
                        Vous déclarez que les données fournies à l'occasion de votre inscription sont parfaitement
                        renseignées et exactes.
                        <br>
                        <br>
                        Conformément à l'article 34 de la loi du 6 janvier 1978 relative à l'informatique, aux fichiers
                        et aux libertés, vous êtes informé de ce que les informations nominatives signalées comme étant
                        obligatoires sur les formulaires et recueillies dans le cadre du site www.copainsderesto.com
                        sont nécessaires pour l'utilisation de celui-ci. Ces informations sont destinées exclusivement
                        à COPAINS DE RESTO.
                        <br>
                        <br>
                        COPAINS DE RESTO pourra notamment vous faire parvenir de façon régulière, par le biais de la
                        marque Copains de resto, des messages électroniques d'informations générales sur son activité
                        ainsi que des messages personnalisés, en fonction des informations que vous aurez saisies sur
                        son site.
                        <br>
                        <br>
                        Vous disposez des droits d'opposition (art. 26 de la loi), d'accès (art. 34 à 38 de la loi) et
                        de rectification (art. 36 de la loi) des données vous concernant. Ainsi, vous pouvez exiger que
                        soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations vous
                        concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou
                        l'utilisation, la communication ou la conservation est interdite. Vous bénéficiez d'un droit
                        d'accès, de rectification ou de suppression des données qui vous concernent en en justifiant
                        votre identité par courrier électronique à : contact@copainsderesto.com . Si vous souhaitez
                        modifier ou supprimer vos données personnelles, vous devez vous identifier sur l'onglet
                        «mon compte» du site en réutilisant la même adresse électronique. Vous avez accès à vos données
                        personnelles sur cet onglet.
                        <br>
                        <br>
                        En transmettant vos avis sur le site copainsderesto.com, et en acceptant leur publication sur
                        www.copainsderesto.com, vous acceptez également que ce contenu soit réutilisé par COPAINS DE
                        RESTO qui est susceptible de publier votre avis, votre photo de profil, votre prénom.
                        <br>
                        <br>
                        En vous inscrivant sur le site copainsderesto.com, vous acceptez que les informations de votre
                        profil soient affichées sur une page "membre" qui peut être vue par tout le monde, même par les
                        personnes qui n’ont pas de compte.
                    </p>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Confidentialité des données</h4>
                        <p style="text-align: justify">
                            La base de données personnelles constituée à l’occasion de l’inscription aux services
                            COPAINS DE RESTO est confidentielle.
                            <br>
                            <br>
                            COPAINS DE RESTO garantit par ailleurs la confidentialité des données personnelles
                            collectées (noms, adresses e-mails et mots de passe) lors de l’inscription à ses services.
                            Conformément à la loi Informatique et Libertés du 6 janvier 1978, tout utilisateur dispose
                            d'un droit d'accès, de modification, de rectification et de suppression de ses données.
                            <br>
                            <br>
                            COPAINS DE RESTO ne peut garantir ni la confidentialité ni l’effacement des données
                            personnelles postées volontairement par l’utilisateur dans ses avis, commentaires postés
                            après les évènements.
                            <br>
                            <br>
                            COPAINS DE RESTO ne saurait être tenu responsable du « spam » subi par les utilisateurs
                            qui auraient décidé volontairement et spontanément de publier en ligne leur adresse email.
                            <br>
                            <br>
                            Conformément aux dispositions de la loi dans la Confiance dans l’économie numérique du 21
                            juin 2004, les données de nature à permettre l'identification des internautes (et notamment
                            les adresses IP) ayant contribué à la création de contenus sur le site internet
                            copainsderesto.com sont détenues et conservées.
                        </p>
                    </div>
                    <div class="row justify-content-center pt-5">
                        <div class="col-8">
                            <h4>Limites de responsabilité relatives au Site</h4>
                            <p style="text-align: justify">
                                Les informations diffusées sur le site Copainsderesto.com proviennent de sources
                                réputées fiables. Toutefois, nous ne pouvons garantir l'exactitude ou la pertinence de
                                ces données. En outre, les informations mises à disposition sur ce site le sont
                                uniquement à titre purement informatif et ne sauraient constituer en aucun cas un
                                conseil ou une recommandation de quelque nature que ce soit.
                                <br>
                                <br>
                                L'accès à certaines sections du site Copainsderesto.com nécessite l'utilisation d'un
                                Identifiant et d'un Mot de passe. Le Mot de passe, choisi par l'Utilisateur, est
                                personnel et confidentiel. L'Utilisateur s'engage à conserver secret son mot de passe et
                                à ne pas le divulguer sous quelque forme que ce soit. L'utilisation de son Identifiant
                                et de son Mot de passe à travers internet se fait aux risques et périls de
                                l'Utilisateur. Il appartient à l'Utilisateur de prendre toutes les dispositions
                                nécessaires permettant de protéger ses propres données contre toute atteinte.
                                <br>
                                <br>
                                Nous nous engageons néanmoins à mettre en place tous les moyens nécessaires pour
                                garantir la sécurité et la confidentialité des données transmises.
                                <br>
                                <br>
                                L'Utilisateur admet connaître les limitations et contraintes propres au réseau internet
                                et, à ce titre, reconnaît notamment l'impossibilité d'une garantie totale de la
                                sécurisation des échanges de données. Nous ne pourrons pas être tenus responsable des
                                préjudices découlant de la transmission de toute information, y compris de celle de son
                                identifiant et/ou de son mot de passe, via le Service.
                                <br>
                                <br>
                                Nous ne pourrons en aucun cas, dans la limite du droit applicable, être tenu
                                responsables des dommages et/ou préjudices, directs ou indirects, matériels ou
                                immatériels, ou de quelque nature que ce soit, résultant d'une indisponibilité du
                                Service ou de toute Utilisation du Service. Le terme « Utilisation » doit être entendu
                                au sens large, c'est-à-dire tout usage du site quel qu'il soit, licite ou non.
                                <br>
                                <br>
                                COPAINS DE RESTO ne pouvant contrôler l'ensemble des sites sur lesquels il renvoie par
                                l'intermédiaire de liens hypertextes, qui n'existent que pour faciliter vos recherches,
                                COPAINS DE RESTO n'est en aucun cas responsable de leur contenu.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Force majeure</h4>
                        <p style="text-align: justify">
                            La responsabilité de COPAINS DE RESTO ne pourra être engagée en cas de force majeure ou de
                            faits indépendants de sa volonté.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Droit applicable et juridiction compétente</h4>
                        <p style="text-align: justify">
                            Les règles en matière de droit, applicables aux contenus et aux transmissions de
                            données sur et autour du site, sont déterminées par la loi française. En cas de litige,
                            n'ayant pu faire l'objet d'un accord à l'amiable, seuls les tribunaux français du
                            ressort de la cour d'appel de Bordeaux sont compétents.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Mentions relatives aux cookies</h4>
                        <p style="text-align: justify">
                            Qu’est-ce qu’un cookie et à quoi sert-il ?
                            <br>
                            <br>
                            Un cookie (ou témoin de connexion) est un fichier texte susceptible d’être enregistré,
                            sous réserve de vos choix, dans un espace dédié du disque dur de votre terminal
                            (ordinateur, tablette …) à l’occasion de la consultation d’un service en ligne grâce à
                            votre logiciel de navigation.
                            <br>
                            <br>
                            Il est transmis par le serveur d’un site internet à votre navigateur. A chaque cookie
                            est attribué un identifiant anonyme. Le fichier cookie permet à son émetteur
                            d’identifier le terminal dans lequel il est enregistré pendant la durée de validité ou
                            d’enregistrement du cookie concerné. Un cookie ne permet pas de remonter à une personne
                            physique.
                            <br>
                            <br>
                            Le Site Copains de resto n’utilise actuellement pas de cookie. Nous pourrons être amenés
                            à installer, sous réserve de votre choix, différents cookies et notamment des cookies
                            publicitaires.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Exercez vos choix selon le navigateur que vous utilisez</h4>
                        <p style="text-align: justify">
                            Vous pouvez à tout moment paramétrer votre navigateur afin d’exprimer et de modifier vos
                            souhaits en matière de cookies et notamment concernant les cookies de statistique. Vous
                            pouvez exprimer vos choix en paramétrant votre navigateur de façon à refuser certains
                            cookies.
                            <br>
                            <br>
                            Si vous refusez nos cookies votre visite de copainsderesto.com ne sera plus
                            comptabilisée dans Google Analytics et vous ne pourrez plus bénéficier d’un certain
                            nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certaines de
                            nos pages.
                            <br>
                            <br>
                            Nous vous informons que vous pouvez toutefois vous opposer à l’enregistrement de cookies
                            en suivant le mode opératoire disponible ci-dessous :
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4 class="pt-0 fst-italic">Sur Internet Explorer</h4>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">Allez dans Outils > Options Internet.</li>
                            <li class="list-group-item">Cliquez sur l’onglet confidentialité.</li>
                            <li class="list-group-item">Cliquez sur le bouton avancé, cochez la case « Ignorer la
                                gestion automatique des cookies ».
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4 class="pt-0 fst-italic">Sur Firefox</h4>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">En haut de la fenêtre de Firefox, cliquez sur le bouton
                                Firefox (menu Outils sous Windows XP), puis sélectionnez Options
                            </li>
                            <li class="list-group-item">Sélectionnez le panneau Vie privée</li>
                            <li class="list-group-item">Paramétrez Règles de conservation : à utiliser les
                                paramètres personnalisés pour l’historique
                            </li>
                            <li class="list-group-item">Décochez Accepter les cookies</li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4 class="pt-0 fst-italic">Sur Chrome</h4>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">Cliquez sur l’icône représentant une clé à molette qui est
                                située dans la barre d’outils du navigateur
                            </li>
                            <li class="list-group-item">Sélectionnez Paramètres</li>
                            <li class="list-group-item">Cliquez sur Afficher les paramètres avancés.</li>
                            <li class="list-group-item">Dans la section « Confidentialité », cliquez sur le bouton
                                Paramètres de contenu
                            </li>
                            <li class="list-group-item">Dans la section « Cookies », vous pouvez bloquer les cookies et
                                données de sites tiers
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4 class="pt-0 fst-italic">Sur Safari</h4>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">Allez dans Réglages > Préférences</li>
                            <li class="list-group-item">Cliquez sur l’onglet Confidentialité</li>
                            <li class="list-group-item">Dans la zone « Bloquer les cookies », cochez la case « toujours
                                »
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4 class="pt-0 fst-italic">Sur Opéra</h4>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">Allez dans Réglages > Préférences</li>
                            <li class="list-group-item">Cliquez sur l’onglet avancées</li>
                            <li class="list-group-item">Dans la zone « Cookies », cochez la case « Ne jamais accepter
                                les cookies »
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Process de réservation de restaurants</h4>
                        <p style="text-align: justify">
                            L’Utilisateur qui souhaite réserver un restaurant doit au préalable créer son profil
                            «Copains de resto» en indiquant son prénom, âge et en téléchargeant une photo de profil.
                            <br>
                            <br>
                            La recherche et réservation de restaurant se fait en sélectionnant dans la barre de
                            recherche le nom du restaurant, le type de cuisine, la localisation, la date.
                            <br>
                            <br>
                            Le moteur de recherche affiche les événements proposés par les restaurateurs en indiquant le
                            nom du restaurant, la date, le nombre de personne max à l’évènement, le nombre éventuel de
                            participants qui ont déjà réservé le créneau, leurs profils et le statut de l’évènement à
                            savoir « en attente de confirmation », « confirmé » ou « complet ».
                            <br>
                            <br>
                            L’évènement est confirmé lorsque le nombre minimum de participants, à savoir 2 personnes a
                            été atteint. Lors de la réservation, un mail de confirmation confirme le statut de
                            l’évènement à savoir si l’évènement est « confirmé » ou « en attente de confirmation ».
                            <br>
                            <br>
                            S’il est « en attente de confirmation », l’Utilisateur est notifié par email dès qu’il sera
                            confirmé.
                            <br>
                            <br>
                            Si le nombre de participants redevient inférieur à 2 personnes, l’Utilisateur est notifié
                            par email que l’évènement est « en attente de confirmation ». L’évènement sera
                            automatiquement annulé si le nombre est inférieur à 2 personnes, l’Utilisateur ne recevra
                            pas un mail supplémentaire.
                            <br>
                            <br>
                            Si un évènement est « complet » l’Utilisateur peut créer une alerte si une place se libère.
                            <br>
                            <br>
                            Le statut de des évènements est également indiqué dans l’onglet « mes évènements » dans
                            l’espace personnel de l’Utilisateur.
                            <br>
                            <br>
                            Pour effectuer une réservation, l’Utilisateur clique sur l’évènement concerné et sur le
                            bouton « je participe ». La réservation via le site « Copains de resto » est gratuite pour
                            l’Utilisateur. Un mail de confirmation est adressé à l’Utilisateur.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Annulation d’une réservation</h4>
                        <p style="text-align: justify">
                            L’Utilisateur peut annuler sa réservation via le mail de confirmation reçu en cliquant sur
                            « annuler ma commande » ou directement via l’espace personnel sur le site « Copains de
                            resto » dans gérer mes évènements et en cliquant sur l’évènement en question.
                            <br>
                            <br>
                            L’Utilisateur s’engage également à prévenir le restaurateur par téléphone en cas de problème
                            de dernière minute s’il ne peut pas venir ou s’il est en retard afin de prévenir les autres
                            participants.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Paiement de l’addition</h4>
                        <p style="text-align: justify">
                            Le jour J comme chaque Copain de resto a son propre budget resto, l’Utilisateur s’engage à
                            régler son addition directement au restaurateur selon ce qu’il a consommé (notamment en
                            boissons vins/plats…). En ce qui concerne les bars à vins, des formules dégustations
                            pourront être proposées et indiquées dans le descriptif de l'évènement.
                            <br>
                            <br>
                            L’Utilisateur s’engage à respecter la « charte du Copains de resto » et à être bienveillant
                            avec les autres participants, traiter tout le monde avec respect et s’engager à faire en
                            sorte que tout le monde se sente en sécurité. Le harcèlement sous toutes ses formes est
                            interdit et les commentaires dégradants qui portent sur l’origine ethnique, la religion,
                            la culture, l’orientation sexuelle, le genre ou l’identité sexuelle ne sont pas tolérés.
                            Un utilisateur pourra être exclu de Copains de resto si des propos et comportement de ce
                            type sont signalés par d’autres participants.
                            <br>
                            <br>
                            L’Utilisateur peut résilier son compte à tout moment via mon espace personnel.

                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8">
                        <h4>Contact</h4>
                        <p style="text-align: justify">
                            Nous sommes à votre disposition pour tout problème via la page facebook « Copains de resto
                            » ou via l’adresse : contact@copainsderesto.com
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pt-5">
                    <div class="col-8 mb-5">
                        <h4>Comment Copains de resto protège mes données personnelles ?</h4>
                        <p style="text-align: justify">
                            Notre site est sécurisé par SSL, et vos données personnelles seront maintenues privées et
                            protégées.<br>
                            Notre site est sécurisé par un certificat de serveur Web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

