{% extends 'email/layoutEmail.html.twig' %}

{% block content %}
    <p><strong>{{ event.restaurant.name }} le {{ event.date|date('d-m-Y') }}</strong></p>
    <br>

    {% if (event.confirmed == false) %}
        <p>L\'évènement n'est pas encore confirmé</p>
    {% else %}
        <p>L\'évènement est confirmé</p>
    {% endif %}

    <p>Bonjour <strong>{{ user.firstname }}</strong>,</p>
    <p>Nous vous confirmons l'inscription à l'évènement.
        <br>
        L'équipe de Copains De resto!
    </p>
{% endblock %}
