<head>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <th>Copains De Resto</th>
    </tr>
    <tr>
        <td>
            <a href="http://www.copainsderesto.com/">
                <img src="https://copainsderesto.caprover.bordeaux-2.wilders.dev/images/header7.jpg"
                     alt="Copains de Resto" width="600" height="144" style="display: block;" border="0" loading="lazy">
            </a>
        </td>
    </tr>
    <tr>
        <td style="font-size: 0; line-height: 0;" width="20"></td>
    </tr>
    <tr>
        <td>
            {% block content %}{% endblock %}
        </td>
    </tr>
    </tbody>
</table>
</body>
